{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<!-- Navigation ============================================================ -->
{{> "nav"}}

{{! Everything inside the #post tags pulls data from the post }}

<main id="content" class="content scene" role="main">

    {{#post}}

    <main class="content" role="main">

        <article class="{{post_class}} card">

            <header class="post-header">
                <h1 class="post-title">{{title}}</h1>
                <section class="post-meta">
                    <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time> {{tags prefix=" in "}}
                </section>
            </header>

            <section class="post-content">
                {{content}}
            </section>

        </article>

    </main>

    {{/post}}

</main>
